<div class="main-box">

  <div class="form-horizontal">

      <div class="main-box-header">
          <div class="col-sm-12">
              <a routerLink="/user" class="btn btn-primary"><i class="fa fa-plus"></i> New </a>
              <a class="btn btn-primary" (click)="onSearchClick()"><i class="fa fa-search"></i> Search</a>
          </div>
      </div>

      <hr />

      <div class="main-box-body">

          <div class="search-criteria" *ngIf="true">
              <form class="search-form form-horizontal" [formGroup]="formGroup">
                  <!-- <div class="form-group">
                      <div class="col-sm-2">
                          <input class="form-control" formControlName="searchCode" placeholder=" Code" (keyup.enter)="onSearchClick()" />
                      </div>
                     
                      <div class="col-sm-3">
                          <input class="form-control" formControlName="searchName" placeholder="Name" (keyup.enter)="onSearchClick()" />
                      </div>

                      <a class="btn btn-primary" (click)="onSearchClick()"><i class="fa fa-search"></i> Search</a>
                  </div> -->
                  
              </form>
          </div>

          <hr />
          
          
          <div class="form-group" *ngIf="true">
              
               <!-- <label>
                  Show 
                  <select (change)="onPageSizeChanged($event)" [(ngModel)]="pageSize" class="input-sm">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                  </select>
                  entries
              </label>  -->
              
             
              <table class="table table-bordered table-striped table-hover list-table table-condensed">
                   <thead>
                      <tr>
                        <!-- sortable action-->
                          <!-- <th class="" >Code</th> -->
                          
                          <th class="">Sr#</th> 
                          <th class="">Company Name</th> 
                          <th class="">User Name</th> 
                          <th class="">Password</th> 
                          <th class="">User Key</th> 
                          <th class=""></th> 
                           
                          <!-- <th class=""></th>  -->
                 
                      </tr>
                     
                  </thead> 
                    
                     
                  <tbody>
                      <!-- <tr *ngIf="listData.recordsTotal <=0">
                          <td  colspan="3" class="dataTables_empty no-records" >No data to show</td>
                      </tr> -->

                      <tr *ngFor="let row of listData.data; let i = index">
                          <td style="min-width: 43px;"><a [routerLink]="['/user/',row.UserKey]" class="btn btn-primary">{{ i + 1}}</a></td>

                          <td style="text-align: left;">{{ row.CompanyName }}</td>
                          <td style="text-align: left;">{{ row.UserName }}</td>
                          <td style="text-align: left;">{{ row.Password }}</td>
                          <td style="text-align: left;">{{ row.UserKey }}</td>
                          
                           <td>
                            <a (click)="onDelete(row)" class="btn btn-danger"><i class='fa fa-times'></i> Delete </a>
                          </td> 
                         
                      </tr>
                  </tbody> 
                  
                  <thead>
                      
                              <tr>
                                  
                                <th class="">Sr#</th> 
                                <th class="">Company Name</th> 
                                <th class="">User Name</th> 
                                <th class="">Password</th> 
                                <th class="">User Key</th> 
                                <th class=""></th> 
                                  <!-- <th class="action"></th>  -->
                         
                              </tr> 
                      
                     
                  </thead>
              </table>
              
              <!-- <div class="col-sm-3">
                  <label>
                      Show 
                      <select (change)="onPageSizeChanged($event)" [(ngModel)]="pageSize" class="input-sm">
                          <option value="10" [attr.selected]="pageSize == 10">10</option>
                          <option value="20">20</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                      </select>
                      entries
                  </label>
              </div> -->
              <!-- <div class="col-sm-9" style="float: right">
                  <pagination [boundaryLinks]="true" [rotate]="false" [(ngModel)]="currentPage" [maxSize]="6" [itemsPerPage]="pageSize" [totalItems]="listData.recordsTotal" (pageChanged)="pageChanged($event)"></pagination>
              </div> -->
              
          </div>

      </div> 

  </div>

</div>
