
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{BrandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link" routerLinkActive="active" [routerLink]="['/Dashboard']" style="color:white">DashBoard</a> -->
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" >DashBoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sale</a>
        </li>
       
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form> -->
      <a routerLink="/login" class="btn btn-warning" *ngIf="!IsloggedIn"><i class="fa fa-plus"></i> Log In</a>

      <!-- userProfile -->
      <div class="dropdown pull-right" *ngIf="IsloggedIn">
        <a href="#" class=" text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
          <span class="d-none d-sm-inline mx-1">loser</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end" style="margin-right: 20px; align-items: flex-start;">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
      <!-- userProfile -->
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLink="/dashboard" class="btn btn-default"><i class="fa fa-plus"></i> DashBoard</a>
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
      <a class="nav-item nav-link disabled" href="#">Disabled 2</a>
       Your login form
    <form action="/action_page.php" class="form-inline">
      <input type="text" class="form-control mr-2" placeholder="Username" name="username">
      <input type="password" class="form-control mr-2" placeholder="Password" name="psw">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a routerLink="/login" class="btn btn-warning"><i class="fa fa-plus"></i> Log In</a>
    
        <div class="dropdown pull-right" *ngIf="IsloggedIn">
          <a href="#" class=" text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>     -->
<!-- Side   NaveBar -->
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" *ngIf="IsloggedIn">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
          </li>
        </ul>
        <hr>
        <!-- <div class="dropdown pb-4">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="col py-3">
      <!-- Content area... -->
      <router-outlet></router-outlet>
      <div class="container my-5" *ngIf="IsloggedIn">
      
        <footer style="background-color: #ffede7;">
      
          <div class="text-center p-1" style="background-color: rgba(238, 230, 230, 0.822);">
            © 2023 Copyright:
            <a class="text-dark">TornadoStudio.com</a>
          </div>
          
        </footer>
      
      </div>
    </div>
    <!-- footer -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- <div class="container my-5">
    
      <footer style="background-color: #ffede7;">
        
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark">TornadoStudio.com</a>
        </div>
      </footer>
    
    </div> -->
    <!-- End of .container -->
    <!-- footer -->

  </div>
</div>
<!-- Side   NaveBar -->
<!-- user left menu -->
<!-- <li class="dropdown profile-dropdown" [ngClass]="{'open': showUserProfileMenu}">
  <a class="dropdown-toggle" data-toggle="dropdown" tabindex="-1" (click)="onUserProfileClick()">
    <img src="{{loginInfo.OriginalCompany.CompanyLogoPath}}" alt="">
    <img src="/favicon.ico" alt="">
    <span class="hidden-xs">
      {{loginInfo.ImpersonateUser.UserName}}
    </span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li *ngIf="loginInfo.OriginalUser.IsSuperAdmin">
      <a (click)="onShowImpersonate()"><i class="fa fa-cog"></i>Impersonate</a>
    </li>
    <li><a href="/QuickSecurity/User/ChangePassword"><i class="fa fa-cog"></i>Change Password</a></li>
    <li><a href="/Base/Company/ChangeSetting"><i class="fa fa-cog"></i>Company Settings</a></li>

    <li><a href="/Account/LogOff"><i class="fa fa-power-off"></i>Logout</a></li>
  </ul>


</li> -->
<!-- user left menu -->
<div class="container">
  <!-- <app-dashboard></app-dashboard> -->
  <!-- <app-home></app-home> -->
  <!-- <router-outlet></router-outlet> -->
</div>          