<!-- Link to make the Login Secreen  -->
<!-- https://www.youtube.com/watch?v=eMJ5spB3P1c  -->

<!-- new one -->
<div class="container d-flex align-items-center justify-content-center" *ngIf="!isNewLogin">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center bg-light mb-6">
          <h1>Login</h1>
        </div>
        <form class="search-form form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
          <div class="mb-3 form-group">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" formControlName="username" class="form-control">
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="username">password:</label>
              <input type="password" id="password" formControlName="password" class="form-control">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <div class="col-6 offset-3">
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

